.about {
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: var(--text-blue);
    flex-basis: 5;
}

.details {
    position: relative;
    width: 750px;
    padding: 1rem;
    text-align: left;
    flex: 2;
}

.details::before {
    content: "";
    left: -.4rem;
    position: absolute;
    width: 5px;
    height: 100%;
    border-radius: 4px;
    background: var(--gradient-primary);
}